@font-face {
	font-family: 'Fira Sans';
	src: url("/webfonts/FiraSansCondensed-Medium.woff2");
}

* {
	--background: #212830;
	--background-dark: #151b23;
	--background-light: #2a313c;
	--border: #3d444d;
	--accent: #ADF6C6;
	--accent-bright: #36ee76;
	--accent-dark: #a7ee36; 
	--foreground: #d7f5e2;

	font-family: 'Fira Sans', Tahoma, Helvetica, sans-serif;
}

body {
	width: 80%;
	margin: auto;
	background-color: var(--background);
	color: var(--foreground);
}

a:visited {
	color: var(--accent-dark);
}

a, header a:visited {
	color: var(--accent-bright);
}

input, button {
	color: var(--foreground);
	border: 1px solid var(--border);
	border-radius: 1rem;
}

input {
	background-color: var(--background-dark);
	height: 2rem;
	padding: 0 1rem;
}

button {
	background-color: var(--background-light);
	padding: 0 1rem;
}

header {
	display: flex;
	border-bottom: 1px solid var(--border);
	align-items: center;
}

header h1 {
	color: var(--accent-bright);
	padding: 0 2rem 0 2rem
}

header nav ul {
	list-style: none;
	display: flex;
	gap: 1rem;
	padding-left: 0;
}

main {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

footer {
	display:flex;
	border-top: 1px solid var(--border);
	margin-top: 2rem;
	padding-top: 1rem;
	justify-content: center;
}

footer a i {
	color: var(--accent);
	border: 1px solid var(--border);
	border-radius: 50%;
	padding: 1rem;
}

#icon {
	text-decoration: none;
}

#usuario {
	margin-left: auto;
	margin-right: 2rem;
}

#searchbar {
	margin-left: auto;
	width: 30rem;
}

#searchbar > input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#searchbar > button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding-right: 1.3rem;
}

.c_flex {
	display: flex;
	flex-direction: column;
}

.r_flex {
	display: flex;
	flex-direction: row;
}

.center {
	text-align: center;
	align-self: center;
	justify-self: center;
	align-content: center;
	justify-content: center;
}

.post {
	max-height: 450px;
	border: var(--border);
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	box-shadow: 2px 2px 10px #101010;
	background-color: var(--background-light);
	margin: 0.5rem;
	padding-bottom: 1rem;
}

.post > img {
	max-height: 400px;
	height: fit-content;
	overflow: hidden;
}

.post > h3 {
	overflow: hidden;
}

.post_image{
	flex-grow: 3;
}

.post_details {
	flex-basis: 300px;
}

.searchinput {
	width: inherit;
}