@font-face {
	font-family: 'Fira Sans';
	src: url("/webfonts/FiraSansCondensed-Medium.woff2");
}

* {
	--background: #212830;
	--background-dark: #151b23;
	--background-dl: #262c36;
	--background-light: #2a313c;
	--border: #3d444d;
	--accent: #ADF6C6;
	--accent-bright: #36ee76;
	--accent-dark: #a7ee36; 
	--foreground: #d7f5e2;

	font-family: 'Fira Sans', Tahoma, Helvetica, sans-serif;
}

body {
	width: 80%;
	margin: auto;
	background-color: var(--background);
	color: var(--foreground);
}

a:visited {
	color: var(--accent-dark);
}

a, header a:visited {
	color: var(--accent-bright);
}

input, button, textarea {
	color: var(--foreground);
	border: 1px solid var(--border);
	border-radius: 1rem;
	box-shadow: 2px 2px 3px #101010;
}

input, textarea {
	background-color: var(--background-dark);
	height: 2rem;
	padding: 0 1rem;
}

button {
	background-color: var(--background-light);
	padding: 0 1rem;
}

button:hover {
	background-color: var(--border);
}

button:active {
	box-shadow: 1px 1px 2px #101010;
	transform: translate(1px, 1px);
}

header {
	display: flex;
	border-bottom: 1px solid var(--border);
	align-items: center;
}

header h1 {
	color: var(--accent-bright);
	padding: 0 2rem 0 2rem
}

header nav ul {
	list-style: none;
	display: flex;
	gap: 1rem;
	padding-left: 0;
}

main {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

footer {
	display:flex;
	border-top: 1px solid var(--border);
	margin-top: 2rem;
	padding-top: 1rem;
	justify-content: center;
}

footer a i {
	color: var(--accent);
	border: 1px solid var(--border);
	border-radius: 50%;
	padding: 1rem;
}

.authform {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	padding: 1rem;
	background-color: var(--background-dl);
	border-radius: 1rem;
	box-shadow: 0 0 10px #101010;
}

.authform > div {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.authform > div > label {
	min-width: 6rem;
}

.authform > div > label[for="description"] {
	padding-top: 0.5rem;
}

.authform > div > input, .authform textarea {
	width: 100%;
}

.authform textarea {
	padding: 0.5rem;
	resize:vertical;
}

.authform a {
	width: 100%;
}

.authform button {
	width: 50%;
	height: 2rem;
}

#icon {
	text-decoration: none;
}

#usuario {
	margin-right: 2rem;
	background-color: var(--background-dl);
	padding: 0.5rem;
	height: 1.5rem;
	flex-direction: row;
	display: flex;
	gap: 0.5rem;
	border-radius: 1rem;
	border: 1px solid var(--border);
	box-shadow: 2px 2px 3px #101010;
}

#usuario button {
	height: 1.5rem;
}

#searchbar {
	margin-left: auto;
	width: 30rem;
}

#searchbar > input, .sendcomment > input{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#searchbar > button, .sendcomment > button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding-right: 1.3rem;
}

#previews img {
	height: 200px;
	overflow: hidden;
}

#previews .imgContainer {
	width: 300px;
	overflow: clip;
	background-color: var(--background-dark);
	border-color: var(--border);
}

#previews > div {
	gap: 1rem;
}

.c_flex {
	display: flex;
	flex-direction: column !important;
}

.r_flex {
	display: flex;
	flex-direction: row !important;
}

.center {
	text-align: center;
	align-self: center;
	justify-self: center;
	align-content: center;
	justify-content: center;
}

.endalign {
	text-align: end;
}

.startalign {
	text-align: start;
}

.post {
	max-height: 450px;
	border: var(--border);
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	box-shadow: 2px 2px 10px #101010;
	background-color: var(--background-light);
	margin: 0.5rem;
	padding-bottom: 1rem;
}

.post > img {
	max-height: 400px;
	height: fit-content;
	overflow: hidden;
}

.post > h3 {
	overflow: hidden;
}

.post_image{
	flex-grow: 3;
}

.post_details {
	flex-basis: 300px;
}

.searchinput {
	width: inherit;
}

.newpost {
	margin-right: 1rem;
	margin-left: auto;
}

.newpost > button {
	height: 2rem;
}

.descDiv {
	flex-grow: 0.84;
}

.botonera {
	margin-top: 2rem;
}

.error {
	color: lightcoral;
}